* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.date {
    margin-bottom: 40px;
}

h1 {
    margin-top: 40px;
}

audio {
    margin-bottom: 30px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about p {
    text-align: start;
}